* {
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer
}

body{
    display: flex;
    flex-direction: column;
    height: 100vmin;
    background-color: lightpink;
}

header{
    background-color: lightblue;
    padding: 2vmin 0;
    font-size: 1.5rem;
    text-align: center;
}

main{
    background-color: lightpink;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vmin, 1fr));
    column-gap: 5vmin;
    row-gap: 10vmin;
    padding: 7vmin;
}

.book{
    background-color: white;
    border-radius: 10px;
    padding: 3vmin;
    display: flex;
    flex-direction: column;
}

.book-details{
    margin-top: 2.5vmin;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1vmin
}

.read-status, .delete-book{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5vmin 0vmin;
    border-radius: 8px;
    border: none;
}

.read-status{
    margin-top: 4vmin;
    margin-bottom: 1vmin;
}

.delete-book{
    background-color: red;
    color: white;
}

.read{
    background-color: lightgreen;
}

.not-read{
    background-color: yellow;
}

#add-book{
    position: absolute;
    top: 5vmin;
    left: 6vmin;
    padding: 2vmin;
    width: min-content;
}